  
<form class="row g-3"  novalidate [formGroup]="form">
        <div class="col-md-6">
          <label for="inputNome" class="form-label">Nome</label>
          <input type="text" class="form-control" id="inputNome" formControlName="nome">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" formControlName="email">
        </div>
        <div class="col-12">
          <label for="inputCpf" class="form-label">CPF</label>
          <input type="text" class="form-control" id="inputCpf" placeholder="Informe seu CPF" formControlName="cpf">
        </div>
        <div class="col-12">
          <label for="inputEndereco" class="form-label">Endereço</label>
          <input type="text" class="form-control" id="inputEndereco" placeholder="Digite seu Endereço" formControlName="endereco">
        </div>
        <div class="col-md-4">
          <label for="inputPeriodo" class="form-label">Período</label>
          <select id="inputPeriodo" class="form-select" formControlName="periodo" >
            <option selected>Matutino</option>
            <option>Vespertino</option>
            <option>Noturno</option>
          </select>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Confirmar</button>
        </div>
      </form>
